img {
max-width:100%;
}
.rooms {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
float: left;
background-color: white;
text-align: center;
}
.rooms li {
 list-style: none;
 display: block;
 width: 100%;
 margin: 0;
}
@media screen and (min-width: 480px) {
.rooms li{
width: 48%;
}
}
@media screen and (min-width: 700px) {
.rooms li{
width: 33%;
}
}
body
{
font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
margin: 0;
}
.hero {
width: 100%;
float: left;
padding: 0px 0px 40px 0px;
font-size: 11pt;
color: white;
background-color: #008080;
text-align: center;
}
.hotel-img-01 {
width: 30%;
border-radius: 50%;
margin: 0 0 30px 0;
position: relative;
z-index: 1;
}
.hotel-img-02 {
width: 20%;
border-radius: 50%;
margin: 0 0 30px 0;
position: absolute;
z-index: 2;
left: 20%;
}
.hotel-img-03 {
width: 20%;
border-radius: 50%;
margin: 0 0 30px 0;
position: absolute;
z-index: 3;
left: 60%;
}
.room-img {
width: 27%;
margin: 40px 0 15px 0;
}
li{
padding: 10px;
}
a:link{
font-size:14px;
text-decoration: none;
}
.hotel-link {
color: #106891;
font-family:Arial;
}
.hotel-link:visited {
color: yellow;
}
.hotel-link:hover {
color: #2e0313;
}
.hotel-link:active {
color: #106891;
}
p{
color: #0d8d8d;
font-size: 14px;
line-height: 16px;
}
p.headline01:first-of-type {
margin-top: 0px;
}
.hotel-main-headline{
margin: 30px 0 30px 0;
}
.hotel-barcelonia-headline {
color: white;
font-size: 46pt;
font-weight:bold;
line-height: 25pt;
}
.special-hotel-headline {
font-family: "Times New Roman", Times, serif;
font-size: 22pt;
font-weight:bold;
color: rgb(242, 216, 65);
}
.headline-lorem {
font-size: 20pt;
font-weight:bold;
color: #106891;
line-height: 14pt;
}
.headline-ipsum {
font-size: 24pt;
font-weight:bold;
color: rgb(242, 216, 65);
line-height: 14pt;
}
.site-description {
color: white;
font-size: 12pt;
line-height: 14pt;
}
.highlights {
font-family: "Times New Roman", Times, serif;
font-size:13pt;
color: rgb(242, 216, 65);
}
.form-wrap{ 
width: 320px;
background: #086d6d;
margin: 20px 0 20px;
padding:30px 40px 30px;
box-sizing: border-box;
position: relative;
text-align: left;
left: 50%;
transform:
translate(-50%);
}
input{
width: 100%;
background: none;
border: 1px solid #fff;
border-radius: 3px;
padding: 6px 15px;
box-sizing: border-box;
margin-bottom: 20px;
font-size: 16px;
color: #fff;
}
input[type="button"]{
background: #bac675;
border: 0;
cursor: pointer;
color: #3e3d3d;}
input[type="button"]:hover{
background: #a4b15c;
transition: .6s;
}
.container-footer {
background-color: rgb(242, 216, 65);
width: 100%;
height: 60px;
padding: 25px; 25px;
display: flex;
flex-direction: row;
vertical-align: middle;
justify-content: center;
}
.content-footer {
color: white;
font-size: 10pt;
line-height: 11pt;
}